h1 {
    text-align: center;
      font-family: 'Lazer84';
      font-weight: 200;
      color: #01cdfe;
      transform: rotate(-3deg);
      font-size: 70px;
      letter-spacing: 6px;
      width: 100%;
  }
  
  #stroke {
    transform: rotate(72deg);
  }

  .social {
    
  }