@font-face {
font-family: 'Lazer84';
src: url('./../theme/lazer84_2-webfont.woff2') format('woff2');
font-style: normal;
font-weight: 200;
}


body {
  position: relative;
  margin: 0;
  overflow-x: auto;
}
html {
  margin: 0;
  overflow-x: auto;
}

/* The navigation bar */
.navbar {
    z-index: 2;
    overflow: auto;
    background-color: rgba(8, 10, 10, 0.5);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar p {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding-right: 4vw;
    padding-left: 2vw;
    padding-top: 1vw;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar p:hover {
  color: #FF69B4;
}

/* Main content */
.main {
    margin-top: 0px; /* Add a top margin to avoid content overlay */
}

#splash {
  background-image: url('./nightSky.jpg');
  background-size:cover;
  position:relative;
  height:102vh;
  margin: 0;
}


#matt {
  flex: 1;
  z-index: 1;
  margin-top: 0;
  padding-top: 70px;
  overflow-x: auto;
  text-align: center;
    font-family: 'Lazer84';
    font-weight: 200;
    color: #FF69B4;
    transform: rotate(-3deg);
    font-size: 70px;
    letter-spacing: 6px;
    width: 102%;
}

h2 {
  font-family: 'Lato';
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  width: 102%;
  color: #01cdfe;
}


h3 {
  flex: 1;
  display: flex;
  justify-content: center;
  font-family: 'Lato';
  text-align: center;
  font-size: 60px;
  color:	white;
  width: 102%;
  padding-top: 18vh;
  padding-bottom: 10vh;
}
