@font-face {
font-family: 'Lazer84';
src: url('./../theme/lazer84_2-webfont.woff2') format('woff2');
font-style: normal;
font-weight: 200;
}



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
background-image: url('./nightSky.jpg');
}

html {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;

}

h1 {
  flex: 1;
  z-index: 1;
  text-align: center;
    font-family: 'Lazer84';
    font-weight: 200;
    color: #FF69B4;
    transform: rotate(-3deg);
    font-size: 90pt;
    letter-spacing: 6px;
}

h2 {
  flex: 1;
  margin-top: 220px;
  font-family: 'Lato';
  text-align: center;
  font-size: 30pt;
  font-weight: 250;

  color:   #18C0F0;

}

h3 {
  flex: 1;
  font-family: 'Lato';
  text-align: center;
  font-size: 60pt;
  color:	white;

}
